body {
  display: flex;
}
h1 {
  text-align: center;
  padding: 20px;
  color: #71dfbe;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background: #2b2d2f;
  padding: 40px 40px 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  margin-right: 5px;
  color: #71dfbe;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  width: 150px;
  background: #2b2d2f;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 10px 10px 0;
  padding: 15px 30px;
  font-size: 16px;
  font-family: "Lilita One", cursive;
  color: #71dfbe;
  transition: background-color 0.3s;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay background */
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
