<!DOCTYPE html>
<html>
  <head>
    <!-- Add your meta tags, title, and CSS links here -->
    <title>Verify Guest</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='verify_guest.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Verify Guest</h1>

      <!-- Manual Verification Form -->
      <form method="post" class="manual-verification">
        <label for="guest_name">Enter Guest Name:</label>
        <input type="text" id="guest_name" name="guest_name" required />
        <button type="submit" id="verify_manual">Verify</button>
      </form>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modal-message">Verification successful!</p>
        </div>
      </div>

    <script src="{{ url_for('static', filename='verify_guest.js') }}"></script>
  </body>
</html>


